@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Sriracha&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Sriracha", 'cursive';
}
.container{
    max-width: 80%;
    position: relative;
    top: 5px;
    /* background-color: rgba(150, 98, 150, 0.356); */
    padding: 24px;
    margin: auto;
}
p{
    font-size: 20px;
    text-align: center;
}
.container h1{
    text-align: center;
    font-size: 40px;
}

input , textarea{
    width: 80%;
    margin: 11px auto;
    padding: 7px;
    font-size: 16px;
    border: 2px solid hsl(0, 0%, 30%) ;
    border-radius: 7px;
    outline: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn{
    color: white;
    background-color: purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid rgba(255, 255, 255, 0.836);
    border-radius: 14px;
    cursor: pointer;
}

.img{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: 0.6;
}

.submitMsg{
    color: green;
}